<%= form_with model: [:administrative, resource], local: true do |f|%>
<%= render partial: "administrative/shared/error_messages", locals: {resource: resource} %>

<div class="col-lg-12">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, autofocus: true, class: "form-control form-resource" %>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <%= f.label :price %>
                <%= f.text_field :price, class: "form-control form-resource money-mask" %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <%= f.label :description %>
                <%= f.text_area :description, class: "form-control form-resource" %>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="row">
            <%= link_to_add_association '+ Ingrediente', f, :ingredients, class: "btn btn-primary", data: { association_insertion_node: ".ingredients", association_insertion_method: :append } %>
        </div>
        <table class="table">
            <tbody class="ingredients has_many_table">
                <%= f.fields_for :ingredients do |ingredient| %>
                    <%= render partial: "administrative/recipes/ingredient_fields", locals: { f: ingredient } %>
                <% end %>
            </tbody>
        </table>
    </div>

    <%= f.submit "Salvar Receita", class: "btn btn-primary" %>
</div>

<% end %>