<tr class="nested-fields">
	<td>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
                    <%= f.text_field :name, placeholder: 'Nome', class: "form-control form-resource" %>
                </div>
			</div>
            <div class="col-md-4">
				<div class="form-group">
                    <%= f.number_field :quantity, placeholder: 'Qtde', class: "form-control form-resource", min: 0 %>
                </div>
			</div>
			<div class="col-md-4">
				<%= link_to_remove_association "Remover", f, class: "remove_fields btn btn-danger", data: { confirm: 'Tem certeza?'} %>
			</div>
		</div>
	</td>
</tr>
