<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="ibox">
                <div class="ibox-title">
                    <h2>Editar Receita</h2>
                </div>
                <div class="ibox-content">
                    <%= render partial: "administrative/recipes/form", locals: {resource: @recipe} %>
                </div>
            </div>
        </div>
    </div>
</div>
