<div class="middle-box text-center loginscreen  animated fadeInDown auth-box">

<h2>Reenvio de email de confirmação</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "administrative/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control" %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Reenviar email de confirmação", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "admins/shared/links" %>

</div>