<div class="row border-bottom">
  <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
              <span class="label label-primary" id='count-notifications'><i class="fa fa-user"></i>Perfil</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li>
              <div class="text-center">
                <%= current_admin.email%>
              </div>
            </li>
            <li>
                <div class="text-center link-block">
                  <%= link_to edit_admin_registration_path, class: "btn btn-warning" do %>
                      <strong>Alterar senha</strong>
                  <% end %>
                </div>
            </li>
          </ul>
        </li>
      </ul>
    </ul>
  </nav>
</div>