<%= form_with model: [:administrative, resource], local: true do |f|%>
<%= render partial: "administrative/shared/error_messages", locals: {resource: resource} %>

<div class="col-lg-12">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-resource" %>
            </div>
        </div>
    </div>
    <%= f.submit "Salvar Admin", class: "btn btn-primary" %>
</div>

<% end %>