<%= render partial: "administrative/shared/index_heading", 
locals: {title: "Administradores", button_title: "Novo Administrador", link: new_administrative_admin_path} %>

<div class="col-lg-12">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="datatable table table-striped table-bordered table-hover" style="width: 100%">
                    <thead>
                    <tr>   
                        <th>ID</th>
                        <th>Email</th>
                        <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @admins.each do |admin| %>
                    <tr>
                        <td><%= admin.id %></td>
                        <td><%= admin.email %></td>
                        <td>
                            <%= link_to edit_administrative_admin_path(admin), class: "btn btn-info btn-circle" do %>
                                <i class="fa fa-pencil"></i>
                            <% end %>
                            
                            <%= link_to administrative_admin_path(admin), method: :delete, data: {confirm: "Tem certeza?"}, class: "btn btn-danger btn-circle" do %>
                                <i class="fa fa-times"></i>
                            <% end %>
                        </td>
                    </tr>
                    <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>