<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2><%= title %></h2>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <%= link_to link, class: "btn btn-primary" do%>
                <i class="fa fa-plus"></i> <%= button_title %>
            <% end %>
        </div>
    </div>
</div>