<!-- Imagem de background do login -->
<!--div style="background: url('<%#= asset_path 'login-background.jpg' %>') top center ; background-size: cover; background-repeat: no-repeat; width:100%; height:100%"-->
  <div class="middle-box text-center loginscreen  animated fadeInDown auth-box">
    <div>
      <h3>Painel de Administração</h3>
      <div>
        <%#= image_tag 'servita_logo.png', class: 'img-fluid' %>
      </div>
      <p >Faça o login para acessar.</p>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.email_field :email, class:"form-control", placeholder:"Email", required: true %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, class:"form-control", placeholder:"Senha", required: true %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="form-group text-left">
            <%= f.check_box :remember_me, class: 'i-check' %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <%= f.submit 'Login', class: "btn btn-primary block full-width m-b" %>
        <%= link_to new_password_path(resource_name) do %>
          <small >Esqueceu sua senha?</small>
        <% end %>
      <% end %>
      <p class="m-t" > <small>Desenvolvido por GTi Engenharia Jr</small> </p>
    </div>
  </div>
</div>

