<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Example | Title</title>

    <%#= render partial: 'layouts/icone' %>
 
    <!-- Main css styles -->
    <%= stylesheet_link_tag  'administrative', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- Main javascript files -->
    <%= javascript_include_tag 'administrative', 'data-turbolinks-track' => true %>
</head>
<body>  

    <!-- Wrapper-->
    <div id="wrapper">

        <!-- Navigation -->
        <%= render 'layouts/administrative/navigation' %>

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg">

            <!-- Page wrapper -->
            <%= render 'layouts/administrative/topnavbar' %>

            <!-- Main view  -->
            <%= yield %>

            <!-- Footer -->
            <%= render 'layouts/administrative/footer' %>

        </div>
        <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->
    <% flash.each do |key, value| %>
        <%= javascript_tag "iziToast.info({title: '#{t('messages.warning_title')}', message: '#{value}'});"%>
    <% end %>
</body>
</html>
