<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <title>Auth Example</title>
    <!-- Main css styles -->
    <%= stylesheet_link_tag 'auth', media: 'all', 'data-turbolinks-track' => true %>
    <!-- Main javascript files -->
    <%= javascript_include_tag 'auth', 'data-turbolinks-track' => true %>
</head>
<body>

    <!-- Main view  -->
    <%= yield %>

    <% flash.each do |key, value| %>
        <%= javascript_tag "iziToast.warning({title: '#{t('messages.warning_title')}', message: '#{value}'});"%>
    <% end %>

</body>
</html>
